#
# Systemd service configuration file for the nestjs service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the nestjs service.
# 
# Usage: 
# systemdctl status nestjs
# systemdctl start nestjs
# systemdctl stop nestjs
# systemdctl restart nestjs
#

[Unit]
Description=nodeapi

[Service]
User=webmaster
Group=webmaster
WorkingDirectory=/home/webmaster/nodeapi
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/ts-node /home/webmaster/nodeapi/server.ts
Restart=always

[Install]
WantedBy=multi-user.target



