#
# Systemd service configuration file for the nestjs.msrv service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the nestjs.msrv service.
# 
# Usage: 
# systemdctl status nestjs.msrv
# systemdctl start nestjs.msrv
# systemdctl stop nestjs.msrv
# systemdctl restart nestjs.msrv
#

[Unit]
Description=nodeapi

[Service]
User=webmaster
Group=webmaster
WorkingDirectory=/home/webmaster/nodeapi
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/ts-node /home/webmaster/nodeapi/server.ts
Restart=always

[Install]
WantedBy=multi-user.target



