#
# Systemd service configuration file for the nest service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the nest service.
# 
# Usage: 
# systemdctl status nest
# systemdctl start nest
# systemdctl stop nest
# systemdctl restart nest
#

[Unit]
Description=nodeapi

[Service]
User=webmaster
Group=webmaster
WorkingDirectory=/home/webmaster/nodeapi
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/ts-node /home/webmaster/nodeapi/server.ts
Restart=always

[Install]
WantedBy=multi-user.target



